:root {
    --vp-c-brand-1: #1ca7e1;
    --vp-c-brand-2: #f7cb20;
}

.dark .VPHome .text {
    background: -webkit-linear-gradient(315deg, var(--vp-c-brand-1) 25%, var(--vp-c-brand-2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub-links a {
    font-weight: 500;
    color: var(--vp-c-brand-1);
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: color 0.25s, opacity 0.25s;
}

.sub-links a:hover {
    color: var(--vp-c-brand-2);
}